# Week1. 연습문제 해설
------------

## 그전에 이걸 먼저 볼까요?


#### 왼쪽정렬
```python
>>>"{0:<10}".format("hi")
'hi        '
```
`:<10` 표현식을 이용하면 치환되는 문자열을 왼쪽으로 정렬하고 문자열의 총 자릿수를 10으로 맞출 수 있다.


#### 오른쪽정렬
```python
>>>"{0:>10}".format("hi")
'        hi'
```
오른쪽 정렬은 `:>`을 이용하면 된다. 화살표 방향을 생각하면 어느 쪽으로 정렬이 되는지 금방 알 수 있을 것이다.


#### 가운데정렬
```python
 "{0:^10}".format("hi")
'    hi    '
```
`:^` 기호를 이용하면 가운데 정렬도 가능하다.


#### 공백 채우기
```python
>>> "{0:=^10}".format("hi")
'====hi===='
>>> "{0:!<10}".format("hi")
'hi!!!!!!!!'
```
정렬 시 공백 문자 대신에 지정한 문자 값으로 채워 넣는 것도 가능하다. 채워 넣을 문자 값은 정렬 문자인 <, >, ^ 바로 앞에 넣어야 한다. 위 예에서 첫 번째 예제는 가운데(^)로 정렬하고 빈 공간을 =문자로 채웠고, 두번째 예제는 왼쪽(<)으로 정렬하고 빈 공간을 !문자로 채웠다.

<br><br><br>
# 문자열 
--------------

1) 화면에 "pizza"를 10번 출력하는 프로그램을 작성하세요.(노가다 제외)

In [2]:
print('pizza'*10)

pizzapizzapizzapizzapizzapizzapizzapizzapizzapizza

2) 다음 형식과 같이 이름, 생년월일, 주민등록번호를 출력하는 프로그램을 작성해 보세요.
> 이름: '학생의 이름' 생년월일: 'yyyy년 mm월 dd일' 전화번호: 010-xxxx-xxxx

In [4]:
name = '홍길동'
birth = '2017/05/10'
phone = '010-3471-3511'

string = '이름:%s 생년월일: %s년 %s월 %s일 전화번호:%s'%(name, birth.split('/')[0],
                                            birth.split('/')[1],
                                            birth.split('/')[2],
                                            phone)
print(string)

이름:홍길동 생년월일: 2017년 05월 10일 전화번호:010-3471-3511
a b

3) company라는 변수에 'Daum KaKao'라는 문자열이 들어 있다고 했을 때, 우리가 배웠던 기능(인덱싱, 슬라이싱, 연결하기 등등) 을 이용하여 s의 값을 'KaKao Daum'으로 변경해 보세요.

In [9]:
company = 'Daum KaKao'

# 풀이 1번
sliced_string = company.split()
s = sliced_string[1] + ' ' + sliced_string[0]
print(s)

# 풀이 2번
space_ind = company.index(' ') # company.find(' ')
print(space_ind)
s = company[space_ind+1:] + ' ' + company[:space_ind]
print(s)

# 풀이 3번
a,b = company.split()
s = ' '.join([b, a])
print(s) # 또는 그냥 print(b,a)

KaKao Daum
4
KaKao Daum
KaKao Daum

4) a라는 변수에 'hello world'라는 문자열이 들어 있다고 했을 때, a의 값을 'hi world'로 변경해 보세요.

In [43]:
a = 'hello world'

a = a.replace('hello', 'hi')
print(a)

hi world

5) x라는 변수에 'abcdef'라는 문자열이 바인딩돼 있다고 했을 때 x의 값을 'bcdefa'로 변경해 보세요.

In [54]:
x = 'abcdef'
shifted_x = x[1:] + x[0]
print (shifted_x)

bcdefa

<br><br><br>
# 연산 
--------------

1) 다음(Daum)의 주가가 89,000원이고 네이버(Naver)의 주가가 751,000이라고 가정하고, 어떤 사람이 다음 주식 100주와 네이버 주식 20주를 가지고 있을 때 그 사람이 가지고 있는 주식의 총액을 계산해 보세요.

In [11]:
daum = 89000
naver = 751000

total = daum * 100 + naver * 20
print(total)

23920000

2) 문제1) 에서 구한 주식 총액에서 다음과 네이버의 주가가 각각 5%, 10% 하락한 경우에 손실액을 구하세요.

In [12]:
loss = (daum * 100 * 0.05) + (naver * 20 * 0.10)
print(loss)

1947000.0

3) 월요일에 네이버의 주가가 100만 원으로 시작해 3일 연속으로 하한가(-30%)를 기록했을 때 수요일의 종가를 계산해 보세요.

In [31]:
monday_open = 1000000

wednesday_close = monday_open * (0.7)**3
print(round(wednesday_close,3))

343000.0

4) 화씨 온도(F)를 섭씨 온도(C)로 변환할 때는 다음과 같은 공식을 사용합니다. 이 공식을 사용해 화씨 온도가 50일 때의 섭씨 온도를 계산해 보세요.
$$ C = (F-32)/1.8$$

In [9]:
>>> f = 50
>>> c = (f-32) / 1.8
>>> print(c)
10.0

<br><br><br>
# 아주 어려운 문제 2개
-------------------

1) 다음에 주어진 문자열에서 모든 대문자를 소문자로 변환하고, 문자 ','와 '.'를 없앤 후에 각 단어를 순서대로 출력 해 보세요

```python
s = 'We propose to start by making it possible to teach programming in Python, an existing scripting language, and to focus on creating a new development environment and teaching materials for it.'
```

In [18]:
s = 'We propose to start by making it possible to teach programming in Python, an existing scripting language, and to focus on creating a new development environment and teaching materials for it'

s_deleted = s.lower().replace(',','').replace('.','')

print(s_deleted)

we propose to start by making it possible to teach programming in python an existing scripting language and to focus on creating a new development environment and teaching materials for it

2) 위 문제에서 각 단어가 몇 번씩 나왔는지 확인 체크 하는 코드를 짜 보세요

In [19]:
word_counter ={}
for word in s_deleted.split():
    if word in word_counter:
        word_counter[word] += 1
    else:
        word_counter[word] = 1

print(word_counter)

{'programming': 1, 'focus': 1, 'it': 2, 'teach': 1, 'new': 1, 'on': 1, 'possible': 1, 'scripting': 1, 'start': 1, 'propose': 1, 'for': 1, 'environment': 1, 'making': 1, 'in': 1, 'teaching': 1, 'a': 1, 'an': 1, 'materials': 1, 'to': 3, 'and': 2, 'language': 1, 'development': 1, 'by': 1, 'existing': 1, 'we': 1, 'python': 1, 'creating': 1}

In [76]:
import collections

a = collections.Counter(s.split())
print(a)

Counter({'to': 3, 'it': 2, 'and': 2, 'materials': 1, 'environment': 1, 'possible': 1, 'language,': 1, 'an': 1, 'on': 1, 'programming': 1, 'We': 1, 'making': 1, 'for': 1, 'start': 1, 'development': 1, 'propose': 1, 'new': 1, 'teach': 1, 'existing': 1, 'Python,': 1, 'creating': 1, 'teaching': 1, 'focus': 1, 'in': 1, 'a': 1, 'by': 1, 'scripting': 1})