# Week 10. Database 

# Sqlite3
-------------------------
파이썬은 데이터베이스와 상호작용할 수 있음.

기본적으로 sqlite3 데이터베이스를 제공하고있음.

SQLite는 
- 오픈소스이자 모든 기능을 갖춘 독립형
- 서버리스
- 제로 설정
- SQL 기반 경량 데이터베이스 관리 시스템

으로서 하나의 데이터 파일을 사용해 데이터를 저장함

MySQL, MSSQL, HeidiSQL

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('data/example.db')

# Autocommit 사용시:
# conn = sqlite3.connect('data/example.db', isolation_level=None)

In [4]:
cur = conn.cursor()

In [5]:
cur.execute("CREATE TABLE test1(Date text, Name text, Age int)")

In [6]:
cur.execute("INSERT INTO test1(Date, Name, Age) VALUES('2017/07/15', 'Rocku Oh', 28)")

## 여러 데이터를 한번에 넣기

In [7]:
values = [('2017/07/14', 'Rocku', 25), ('2017/07/15', 'Brook', 30), ('2017/07/16', 'Kim', 20)]

sql_query = "INSERT INTO test1 VALUES(?,?,?)"

cur.executemany(sql_query, values)

실제 업무에서 대부분의 SQL 문장에는 동적으로 컬럼 데이타값을 집어 넣어야 함
이때 `Parameterized Query`를 사용함.

- SQLite에서는 두 가지 방식으로 Parameterized Query를 만들 수 있다. 
    - `?` : (물음표)를 Placeholder로 사용하는 방식
    - `:Id` : 파라미터 이름을 명시하는 Named Placeholder 방식이 있다.

```python
sql = "select * from customer where id = :Id"
cur.execute(sql, {"Id": 1})
```

In [8]:
conn.commit()
conn.close()

> 데이터를 실제 DB에 반영하고 싶지 않은 경우는 conn.rollback() 함수를 통하여 취소 할 수 있음

<br><br><br>
# 데이터 읽기
-------------------------

In [9]:
conn = sqlite3.connect('data/example.db')
cur = conn.cursor()

In [10]:
cur.execute("SELECT * FROM test1")
data = cur.fetchall()
data

[('2017/07/15', 'Rocku Oh', 28),
 ('2017/07/14', 'Rocku', 25),
 ('2017/07/15', 'Brook', 30),
 ('2017/07/16', 'Kim', 20)]

In [11]:
conn.close()

### 물론 자동으로 close()를 위하여 with 문 사용도 좋음

In [12]:
conn = sqlite3.connect('data/example.db')

with conn:
    cur = conn.cursor()
    cur.execute("select * from test1")
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

('2017/07/15', 'Rocku Oh', 28)
('2017/07/14', 'Rocku', 25)
('2017/07/15', 'Brook', 30)
('2017/07/16', 'Kim', 20)