# pandas 연습!
-----------------------------
<br><br><br>

# 1. Problem set 1. Dataframe 다루기
----------------

<img src="pic/week5-1.png" width="100">

### 1) DataFrame으로 위와 같은 자료를 만드시오. 컬럼 이름은 numbers, 로우 네임은 a~e, 값은 10~40

In [ ]:
# Input your code

### 2) c 로우의 값을 가져오시오

In [ ]:
# Input your code

### 3) a, d 로우들의 값을 가져오시오

In [ ]:
# Input your code

### 4) numbers의 합을 구하시오

In [ ]:
# Input your code

<img src="pic/week5-2.png" width="100">

### 5) vectorized operations을 이용해서 위 그림과 같이 numbers의 값들을 각각 제곱하시오

In [4]:
# Input your code

### 6) floats라는 이름의 칼럼을 추가하시오. 
> 1.5, 2.5, 3.5, 4.5

<img src="pic/week5-3.png" width="150">

In [ ]:
# Input your code

### 7) names라는 이름의 다음과 같은 칼럼을 위의 결과에 또 추가하시오.

<img src="pic/week5-4.png" width="100">

In [ ]:
# Input your code

### 8) 다음과 같은 정보를 가지는 로우(행)를 위의 결과에 추가하시오
> - index:z
> - numbers: 100
> - floats: 5.75
> - names: Henry

In [ ]:
# Input your code

### 9) squares 라는 이름의 칼럼을 join 메서드를 사용(기본옵션으로)하여 추가하시오
<img src="pic/week5-5.png" width="100">

In [ ]:
# Input your code

### 10) 문제9) 와 동일하나 join 메서드의 옵션을 'outer'로 바꿔서 수행해보시오.

In [ ]:
# Input your code

### 11) 위의 결과로 나온 자료에서 numbers 칼럼과 squares 칼럼에 대해, 각각 평균을 구하시오. 다음과 같은 결과 가 나와야 함. 

hint: mean 메서드 사용, columnwise 계산

>numbers 40

>squares 11

In [ ]:
# Input your code

### 12) numbers와 squares 칼럼에 대해, 각각 표준편차를 구하시오 
hint: std 메서드 사용, columnwise 계산

In [ ]:
# Input your code

### 10) 문제9) 와 동일하나 join 메서드의 옵션을 'outer'로 바꿔서 수행해보시오.

In [ ]:
# Input your code

### 10) 문제9) 와 동일하나 join 메서드의 옵션을 'outer'로 바꿔서 수행해보시오.

In [ ]:
# Input your code