# Week 02. 연습문제 이자 숙제 이자 괴롭힘

<br><br><br>
# 제어문 If, for, while
-----------------------

1) 아래와 같은 패턴의 별(*)을 출력하는 프로그램을 작성해 보세요. 참고로 `print('*', end='')`와 같이 print 함수를 사용하면 줄바꿈 없이 화면에 출력할 수 있습니다.

```
*****
```

In [1]:
for i in range(5):
    print('*', end='')

*****

2) 아래와 같은 패턴의 별(*)을 출력하는 프로그램을 작성해보세요. (힌트: 이중 루프 사용)
```
*****
*****
*****
*****
```

In [3]:
for j in range(4):
    print('*'*5)

*****
*****
*****
*****

3) 아래와 같은 패턴의 별(*)을 출력하는 프로그램을 작성해보세요.
```
*
**
***
****
*****
```

In [3]:
for j in range(5):
    print('*'*(j+1))

*
**
***
****
*****

4) 아래와 같은 패턴의 별(*)을 출력하는 프로그램을 작성해 보세요.
```
*****
****
***
**
*
```

In [4]:
for j in range(5):
    print('*'*(5-j))

*****
****
***
**
*

5) 아래와 같은 패턴의 별(*)을 출력하는 프로그램을 작성해 보세요.
```
  *
 ***
*****
 ***
  *
```

In [5]:
for j in range(5):
    print(' '*abs(2-j) + '*'*(5-2*abs(2-1*j)))

  *
 ***
*****
 ***
  *

<br><br><br>
# 함수
-----------------------

1) 두 개의 정수 값을 받아 두 값의 평균을 구하는 함수를 작성하세요.

```python
def myaverage(a, b):
    # 함수 구현
```

In [3]:
def myaverage(a,b):
    return ((a+b)/2) 

print(myaverage(3,4))

3.5

2) 함수의 입력인자로 [1,2,3,4,5] (데이터 꾸러미)를 받은 후 모든 정수 값에 대한 최댓값과 최솟값을 반환하는 함수를 작성하세요.

```python
def get_max_min(data_list):
    # 함수 구현
```

In [4]:
def get_max_min(data_list):
    max_val = max(data_list)
    min_val = min(data_list)
    return max_val, min_val

ma, mi = get_max_min([1, 2, 3, 4, 5])
print(ma, mi)

5 1

3) 체질량 지수(Body Mass Index, BMI)는 인간의 비만도를 나타내는 지수로서 체중과 키의 관계로 아래의 수식을 통해 계산됩니다. 여기서 중요한 점은 체중의 단위는 킬로그램(kg)이고 신장의 단위는 미터(m)라는 점입니다.

$$
BMI=\frac{체중(kg)}{신장(m)^2}
$$ 

일반적으로 BMI 값에 따라 다음과 같이 체형을 분류하고 있습니다.

- BMI <18.5, 마른체형
- 18.5 <= BMI < 25.0, 표준
- 25.0 <= BMI < 30.0, 비만
- BMI >= 30.0, 고도 비만

함수의 인자로 체중(kg)과 신장(cm)을 받은 후 BMI 값에 따라 '마른체형', '표준', '비만', '고도 비만' 중 하나를 출력하는 함수를 작성하세요.

In [2]:
def bmi(weight, height):
    height = height * 0.01
    bmi = weight / (height * height)
    
    if bmi < 18.5:
        print("마른체형")
    elif 18.5 <= bmi < 25.0:
        print("표준")
    elif 25.0 <= bmi < 30.0:
        print("비만")
    else:
        print("고도비만")

bmi(67, 150)
bmi(60, 187)

비만
마른체형

4) 삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적을 계산하는 함수를 작성하세요.
```python
def get_triangle_area(width, height):
    # 함수 구현
```

In [ ]:
def get_triangle_area(width, height):
    return width * height / 2

get_triangle_area(10, 3)

5) 함수의 인자로 시작과 끝 숫자를 받아 시작부터 끝까지의 모든 정수값의 합을 반환하는 함수를 작성하세요(시작값과 끝값을 포함).

```python
def add_start_to_end(start, end):
    # 함수 구현
```

In [5]:
def add_start_to_end(start, end):
    return sum(range(start, end+1))

add_start_to_end(1,10)

55

6) 함수의 인자로 문자열 입력될 때 각 문자열의 첫 세 글자로만 구성된 문자열을 반환하는 함수를 작성하세요. 예를 들어, 

함수의 입력으로 'Seoul', 'Daegu', 'Kwangju', 'Jeju' 등이 입력될 때 

함수의 반환값은 'Seo', 'Dae', 'Kwa', 'Jej'입니다.

In [7]:
def get_three_letters(data):         
    a = data[:3]
    return a

get_three_letters('Seoul')

'Seo'

In [8]:
# 여러 데이터를 한번에 입력할 때
def get_three_letters(data):         
    dummy = []
    for j in data:
        dummy.append(j[:3])
        
    return dummy

# 또는 한줄 (list comprehension) 을 사용하여
#   return [j[:3] for j in data]
    

get_three_letters(['Seoul', 'Daegu', 'Kwangju', 'Jeju'])

['Seo', 'Dae', 'Kwa', 'Jej']